body {
  font-family: 'Times New Roman', Times, serif;
  background: #dce46b;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.todo-box {
  background: #1df709;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  padding: 8px;
  margin-top: 5px;
  background: #a4c763;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.done {
  text-decoration: line-through;
  color: rgb(101, 238, 10);
}